<meta name="viewport"
      content="height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=yes">
<meta name="stm-result" content="ok">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/assets/desktop/css/chinalovecupid-base.css?v=24">
<link type="text/css" rel="stylesheet" href="/assets/css/site/generic/membercolor.css?v=165">
<link type="text/css" rel="stylesheet" href="/assets/css/site/generic/membercolor_chinalovecupid.css?v=165">
<link type="text/css" rel="stylesheet" href="/assets/css/site/generic/memberheader.css?v=165">
<link type="text/css" rel="stylesheet" href="/assets/css/site/generic/memberlayout.css?v=165">
<link type="text/css" rel="stylesheet" href="/assets/css/site/payment/upgradeMembership.css?v=166">