<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/pagejs/common.js?v=1.28"></script>
<script src="/js/tolang.js?v=1.11"></script>
<link type="text/css" rel="stylesheet" href="/assets/css/global/global.css?v=165">
<div class="header flex items-center justify-between fixed top-0 left-0 right-0 z3">
    <div class="col-6 header-nav-min-width header-nav-max-width z0 mx2">
        <div class="flex items-center justify-between p0 m0 h3">
            <a href="/" class="flex" title="xxxx">
                <div class="z2 center col-12">www.chinesecompanion.com</div>
            </a>
            <a href="/" class="count">{:lang('首页')}</a>
            <a href="/index.php/index/mail/msglist" class="count" {if condition="$Think.session.isLogin eq true " } {/if}>{:lang("消息")}</a>
            <a href="/index.php/index/m/active"> {:lang("活动动态")}</a>
            <div class="header-sub-menu relative pointer" data-animation="menu-pop">
                <div class="block text-decoration-none h3 header-color count"></div>
            </div>
            <div class="header-sub-menu relative pointer" data-animation="menu-pop">
                <div class="block text-decoration-none h3 header-color count"></div>
            </div>
        </div>
    </div>
    <div class="flex-auto flex items-center justify-end z3 me2">

        {if condition="$Think.session.isLogin eq true"}
        {if condition="$u.isPay != True" }
        <a id="evtGUpgradeMemberHeader" href="/index.php/index/m/upgrade"
           class="ad-295-46 flex items-center bg-green rounded text-decoration-none">
            <div class="long-text p1">
                <svg class="icon-30 fill-white inline-block">
                    <use xlink:href="/assets/desktop/icons/icons.svg#icon-upgradearrow-nofill"></use>
                </svg>
                <div class="upgrade-text inline-block px1">
                  {$u.vip.type}  <strong>{:lang("升级会员级别")} </strong>
                </div>
            </div>
            <div class="short-text">
                <div class="upgrade-text p1 center">
                    Upgrade Now!
                </div>
            </div>
        </a>
        {/if}
        <a href="/index.php/index/m/profiledit">
            <div class="header-sub-menu relative profile-icon" data-animation="menu-pop">
                <div class="profile-header-image circle shadow border relative mx2 flex items-center justify-center circle overflow-hidden card-image-bg-color">
                    <div class="profile-bg" style="background-image:url('{$u.main_pic}')" title="{:lang('头像')}"></div>
                </div>
            </div>
        </a>
        {/if}
        <div>
            {if condition="$Think.session.isLogin eq true"}
            <a href="/index.php/index/a/logout" type="button" id="loginout"
               class="h3 rounded py1 px2 btn-color btn-bg border-none col-12 relative overflow-hidden shadow"
               tabindex="3" data-disable-on-click="true">{:lang("退出")}
            </a>
            {else /}
            <a href="/index.php/index/m/reg"
               class="h3 rounded py1 px2 btn-color btn-bg border-none col-12 relative overflow-hidden shadow"
               tabindex="3" data-disable-on-click="true">{:lang("注册")}</a>
            <a href="/index.php/index/a/login"
               class="h3 rounded py1 px2 btn-color btn-bg border-none col-12 relative overflow-hidden shadow"
               tabindex="3" data-disable-on-click="true">{:lang("登录")}
            </a>
            {/if}
        </div>
    </div>
</div>
<div id="dialogMsg" style="position: fixed;top:10%;left:35%;z-index:10001;background-color: #FFFFFF">
</div>