<script>LANG = "{$lang}"</script>
<script src="/js_ext/SelectUtil.js"></script>
<script src="/pagejs/SelectCountryStateCity.js?v=1.22"></script>
{if condition="$lang=='en-us'"}
<select name="countryid">
    <option value="-1">Any Country</option>
    <option value="42">China</option>
    <option value="4">Afghanistan</option>
    <option value="7">Albania</option>
    <option value="5">Algeria</option>
    <option value="11">American Samoa</option>
    <option value="9">Andorra</option>
    <option value="10">Angola</option>
    <option value="15">Anguilla</option>
    <option value="16">Antarctica</option>
    <option value="2">Antigua and Barbuda</option>
    <option value="12">Argentina</option>
    <option value="8">Armenia</option>
    <option value="1">Aruba</option>
    <option value="13">Australia</option>
    <option value="14">Austria</option>
    <option value="6">Azerbaijan</option>
    <option value="22">Bahamas</option>
    <option value="17">Bahrain</option>
    <option value="23">Bangladesh</option>
    <option value="18">Barbados</option>
    <option value="28">Belarus</option>
    <option value="21">Belgium</option>
    <option value="24">Belize</option>
    <option value="27">Benin</option>
    <option value="20">Bermuda</option>
    <option value="31">Bhutan</option>
    <option value="26">Bolivia</option>
    <option value="163">Bonaire, St Eustatius, Saba</option>
    <option value="25">Bosnia &amp; Herzegovina</option>
    <option value="19">Botswana</option>
    <option value="33">Bouvet Island</option>
    <option value="30">Brazil</option>
    <option value="104">British Indian Ocean</option>
    <option value="34">Brunei</option>
    <option value="32">Bulgaria</option>
    <option value="224">Burkina Faso</option>
    <option value="35">Burundi</option>
    <option value="37">Cambodia</option>
    <option value="46">Cameroon</option>
    <option value="36">Canada</option>
    <option value="53">Cape Verde</option>
    <option value="44">Cayman Islands</option>
    <option value="51">Central African Rep.</option>
    <option value="38">Chad</option>
    <option value="43">Chile</option>
    <option value="42">China</option>
    <option value="119">Christmas Island</option>
    <option value="45">Cocos (Keeling) Is.</option>
    <option value="48">Colombia</option>
    <option value="47">Comoros</option>
    <option value="41">Congo, Dem. Rep</option>
    <option value="40">Congo, Republic</option>
    <option value="54">Cook Islands</option>
    <option value="50">Costa Rica</option>
    <option value="108">Cote d'Ivoire</option>
    <option value="98">Croatia</option>
    <option value="52">Cuba</option>
    <option value="244">Curaçao</option>
    <option value="55">Cyprus</option>
    <option value="68">Czechia</option>
    <option value="56">Denmark</option>
    <option value="57">Djibouti</option>
    <option value="58">Dominica</option>
    <option value="59">Dominican Republic</option>
    <option value="60">Ecuador</option>
    <option value="61">Egypt</option>
    <option value="66">El Salvador</option>
    <option value="63">Equatorial Guinea</option>
    <option value="65">Eritrea</option>
    <option value="64">Estonia</option>
    <option value="237">Eswatini</option>
    <option value="67">Ethiopia</option>
    <option value="72">Falkland Islands</option>
    <option value="74">Faroe Islands</option>
    <option value="71">Fiji</option>
    <option value="70">Finland</option>
    <option value="76">France</option>
    <option value="77">French Antarctic</option>
    <option value="69">French Guiana</option>
    <option value="75">French Polynesia</option>
    <option value="79">Gabon</option>
    <option value="78">Gambia</option>
    <option value="80">Georgia</option>
    <option value="86">Germany</option>
    <option value="81">Ghana</option>
    <option value="82">Gibraltar</option>
    <option value="89">Greece</option>
    <option value="85">Greenland</option>
    <option value="83">Grenada</option>
    <option value="87">Guadeloupe</option>
    <option value="88">Guam</option>
    <option value="90">Guatemala</option>
    <option value="84">Guernsey</option>
    <option value="91">Guinea</option>
    <option value="175">Guinea-Bissau</option>
    <option value="92">Guyana</option>
    <option value="94">Haiti</option>
    <option value="96">Heard &amp; McDonald Is</option>
    <option value="232">Holy See (Vatican City)</option>
    <option value="97">Honduras</option>
    <option value="95">Hong Kong (China)</option>
    <option value="99">Hungary</option>
    <option value="100">Iceland</option>
    <option value="103">India</option>
    <option value="101">Indonesia</option>
    <option value="105">Iran</option>
    <option value="109">Iraq</option>
    <option value="62">Ireland</option>
    <option value="102">Isle of Man</option>
    <option value="106">Israel</option>
    <option value="107">Italy</option>
    <option value="112">Jamaica</option>
    <option value="110">Japan</option>
    <option value="111">Jersey</option>
    <option value="113">Jordan</option>
    <option value="121">Kazakhstan</option>
    <option value="114">Kenya</option>
    <option value="117">Kiribati</option>
    <option value="116">Korea, North</option>
    <option value="118">Korea, South</option>
    <option value="120">Kuwait</option>
    <option value="115">Kyrgyzstan</option>
    <option value="122">Laos</option>
    <option value="124">Latvia</option>
    <option value="123">Lebanon</option>
    <option value="129">Lesotho</option>
    <option value="126">Liberia</option>
    <option value="131">Libya</option>
    <option value="128">Liechtenstein</option>
    <option value="125">Lithuania</option>
    <option value="130">Luxembourg</option>
    <option value="134">Macau (China)</option>
    <option value="140">Macedonia (FYR)</option>
    <option value="132">Madagascar</option>
    <option value="139">Malawi</option>
    <option value="150">Malaysia</option>
    <option value="148">Maldives</option>
    <option value="141">Mali</option>
    <option value="146">Malta</option>
    <option value="178">Marshall Islands</option>
    <option value="133">Martinique</option>
    <option value="145">Mauritania</option>
    <option value="144">Mauritius</option>
    <option value="136">Mayotte</option>
    <option value="149">Mexico</option>
    <option value="73">Micronesia</option>
    <option value="135">Moldova</option>
    <option value="142">Monaco</option>
    <option value="137">Mongolia</option>
    <option value="246">Montenegro</option>
    <option value="138">Montserrat</option>
    <option value="143">Morocco</option>
    <option value="151">Mozambique</option>
    <option value="242">Myanmar</option>
    <option value="233">Namibia</option>
    <option value="161">Nauru</option>
    <option value="160">Nepal</option>
    <option value="158">Netherlands</option>
    <option value="152">New Caledonia</option>
    <option value="165">New Zealand</option>
    <option value="164">Nicaragua</option>
    <option value="155">Niger</option>
    <option value="157">Nigeria</option>
    <option value="153">Niue</option>
    <option value="154">Norfolk Island</option>
    <option value="49">Northern Mariana Is.</option>
    <option value="159">Norway</option>
    <option value="147">Oman</option>
    <option value="169">Pakistan</option>
    <option value="174">Palau</option>
    <option value="93">Palestine</option>
    <option value="171">Panama</option>
    <option value="173">Papua New Guinea</option>
    <option value="166">Paraguay</option>
    <option value="168">Peru</option>
    <option value="180">Philippines</option>
    <option value="167">Pitcairn Islands</option>
    <option value="170">Poland</option>
    <option value="172">Portugal</option>
    <option value="181">Puerto Rico</option>
    <option value="176">Qatar</option>
    <option value="177">Reunion</option>
    <option value="179">Romania</option>
    <option value="182">Russia</option>
    <option value="183">Rwanda</option>
    <option value="190">Saint Helena</option>
    <option value="197">Saint Lucia</option>
    <option value="236">Samoa</option>
    <option value="193">San Marino</option>
    <option value="211">Sao Tome &amp; Principe</option>
    <option value="184">Saudi Arabia</option>
    <option value="189">Senegal</option>
    <option value="238">Serbia</option>
    <option value="187">Seychelles</option>
    <option value="192">Sierra Leone</option>
    <option value="194">Singapore</option>
    <option value="245">Sint Maarten</option>
    <option value="127">Slovakia</option>
    <option value="191">Slovenia</option>
    <option value="29">Solomon Islands</option>
    <option value="195">Somalia</option>
    <option value="188">South Africa</option>
    <option value="201">South Georgia Island</option>
    <option value="243">South Sudan</option>
    <option value="196">Spain</option>
    <option value="39">Sri Lanka</option>
    <option value="186">St Kitts &amp; Nevis</option>
    <option value="185">St Pierre &amp; Miquelon</option>
    <option value="227">St Vincent Grenadines</option>
    <option value="198">Sudan</option>
    <option value="162">Suriname</option>
    <option value="199">Svalbard &amp; Jan Mayen</option>
    <option value="200">Sweden</option>
    <option value="203">Switzerland</option>
    <option value="202">Syria</option>
    <option value="216">Taiwan (China)</option>
    <option value="206">Tajikistan</option>
    <option value="218">Tanzania</option>
    <option value="205">Thailand</option>
    <option value="213">Timor Leste</option>
    <option value="210">Togo</option>
    <option value="208">Tokelau</option>
    <option value="209">Tonga</option>
    <option value="204">Trinidad and Tobago</option>
    <option value="212">Tunisia</option>
    <option value="214">Turkey</option>
    <option value="217">Turkmenistan</option>
    <option value="207">Turks &amp; Caicos Is.</option>
    <option value="215">Tuvalu</option>
    <option value="219">Uganda</option>
    <option value="222">Ukraine</option>
    <option value="3">United Arab Emirates</option>
    <option value="220">United Kingdom</option>
    <option value="223">United States</option>
    <option value="225">Uruguay</option>
    <option value="221">US Minor Outlying Is</option>
    <option value="226">Uzbekistan</option>
    <option value="156">Vanuatu</option>
    <option value="228">Venezuela</option>
    <option value="230">Vietnam</option>
    <option value="229">Virgin Islands (British)</option>
    <option value="231">Virgin Islands (US)</option>
    <option value="234">Wallis and Futuna</option>
    <option value="235">Western Sahara</option>
    <option value="239">Yemen</option>
    <option value="240">Zambia</option>
    <option value="241">Zimbabwe</option>
</select>
{else}
<select name="countryid">
    <option value="-1">任何</option>
    <option value="42">中国</option>
    <option value="7">阿尔巴尼亚</option>
    <option value="5">阿尔及尼亚</option>
    <option value="4">阿富汗</option>
    <option value="12">阿根廷</option>
    <option value="3">阿拉伯聯合大公國</option>
    <option value="1">阿盧巴</option>
    <option value="147">阿曼</option>
    <option value="6">阿塞拜疆</option>
    <option value="61">埃及</option>
    <option value="67">埃塞俄比亚</option>
    <option value="62">爱尔兰</option>
    <option value="64">爱沙尼亚</option>
    <option value="9">安道尔</option>
    <option value="10">安哥拉</option>
    <option value="15">安圭拉岛</option>
    <option value="2">安提瓜及巴不达</option>
    <option value="14">奥地利</option>
    <option value="13">澳大利亚</option>
    <option value="134">澳门(中国)</option>
    <option value="18">巴巴多斯</option>
    <option value="173">巴布亚新几内亚</option>
    <option value="22">巴哈马</option>
    <option value="169">巴基斯坦</option>
    <option value="166">巴拉圭</option>
    <option value="93">巴勒斯坦</option>
    <option value="17">巴林</option>
    <option value="171">巴拿马</option>
    <option value="30">巴西</option>
    <option value="28">白俄罗斯</option>
    <option value="20">百慕达</option>
    <option value="32">保加利亚</option>
    <option value="116">北朝鲜</option>
    <option value="49">北马里亚纳群岛</option>
    <option value="27">贝南</option>
    <option value="21">比利时</option>
    <option value="100">冰岛</option>
    <option value="181">波多黎各</option>
    <option value="170">波兰</option>
    <option value="19">波扎那</option>
    <option value="26">玻利维亚</option>
    <option value="25">玻斯尼亚</option>
    <option value="224">伯克尼</option>
    <option value="24">伯利兹</option>
    <option value="174">帛琉</option>
    <option value="31">不丹</option>
    <option value="35">布隆迪</option>
    <option value="33">布为特岛</option>
    <option value="63">赤道及内亚</option>
    <option value="56">丹麦</option>
    <option value="86">德国</option>
    <option value="213">东帝汶</option>
    <option value="210">多哥</option>
    <option value="58">多米尼克</option>
    <option value="59">多明尼加共和国</option>
    <option value="182">俄罗斯</option>
    <option value="60">厄瓜多尔</option>
    <option value="65">厄立特里亚</option>
    <option value="74">伐茹岛</option>
    <option value="76">法国</option>
    <option value="75">法属波利尼西亚</option>
    <option value="92">法属圭亚那</option>
    <option value="69">法属圭亚那</option>
    <option value="77">法属南极领地</option>
    <option value="232">梵蒂冈城</option>
    <option value="180">菲律宾</option>
    <option value="71">斐济</option>
    <option value="70">芬兰</option>
    <option value="53">佛得角</option>
    <option value="72">福克兰群岛</option>
    <option value="78">甘比亚</option>
    <option value="40">刚果</option>
    <option value="41">刚果</option>
    <option value="48">哥仑比亚</option>
    <option value="50">哥斯達黎亞</option>
    <option value="84">格恩西</option>
    <option value="85">格陵兰岛</option>
    <option value="83">格瑞纳达</option>
    <option value="52">古巴</option>
    <option value="87">瓜德罗普岛</option>
    <option value="88">关岛</option>
    <option value="121">哈萨克</option>
    <option value="94">海地</option>
    <option value="118">韩国</option>
    <option value="96">河地</option>
    <option value="158">荷兰</option>
    <option value="163">荷属安替列斯群岛</option>
    <option value="246">黑山</option>
    <option value="97">洪都拉斯</option>
    <option value="57">吉布地</option>
    <option value="115">吉尔吉斯</option>
    <option value="91">几内亚</option>
    <option value="175">几内亚比绍共和国</option>
    <option value="36">加拿大</option>
    <option value="81">加纳</option>
    <option value="79">加彭</option>
    <option value="37">柬埔寨</option>
    <option value="68">捷克</option>
    <option value="46">喀买隆</option>
    <option value="176">卡达</option>
    <option value="44">卡门群岛</option>
    <option value="54">科克群岛</option>
    <option value="47">科斯罗</option>
    <option value="108">科特迪瓦</option>
    <option value="120">科威特</option>
    <option value="45">可可斯群岛</option>
    <option value="117">克里巴提</option>
    <option value="98">克罗埃西亚</option>
    <option value="114">肯亚</option>
    <option value="244">库拉索</option>
    <option value="124">拉特威尼亚</option>
    <option value="126">赖比瑞亚</option>
    <option value="129">赖索托</option>
    <option value="123">黎巴嫩</option>
    <option value="125">立陶宛</option>
    <option value="131">利比亚</option>
    <option value="122">寮国</option>
    <option value="128">列支敦士登</option>
    <option value="177">留尼旺岛</option>
    <option value="130">卢森堡</option>
    <option value="183">卢旺达</option>
    <option value="179">罗马尼亚</option>
    <option value="132">马达加斯加</option>
    <option value="135">马多瓦</option>
    <option value="148">马尔代夫</option>
    <option value="146">马耳他</option>
    <option value="139">马拉维</option>
    <option value="150">马来西亚</option>
    <option value="141">马里</option>
    <option value="140">马其顿</option>
    <option value="178">马绍尔群岛</option>
    <option value="133">马提尼克</option>
    <option value="145">马提尼亚</option>
    <option value="136">马幼提</option>
    <option value="223">美国</option>
    <option value="221">美属边疆群岛</option>
    <option value="231">美属佛吉尼亚岛</option>
    <option value="11">美属萨摩亚</option>
    <option value="137">蒙古</option>
    <option value="138">蒙色提</option>
    <option value="23">孟加拉</option>
    <option value="168">秘鲁</option>
    <option value="73">密克罗西尼亚</option>
    <option value="242">缅甸</option>
    <option value="144">模里西斯</option>
    <option value="143">摩洛哥</option>
    <option value="142">摩纳哥</option>
    <option value="151">莫桑比克</option>
    <option value="149">墨西哥</option>
    <option value="233">纳米比亚</option>
    <option value="188">南非</option>
    <option value="16">南极洲</option>
    <option value="201">南乔治亚群岛</option>
    <option value="161">瑙鲁</option>
    <option value="160">尼泊尔</option>
    <option value="164">尼加拉瓜</option>
    <option value="155">尼日尔</option>
    <option value="157">尼日利亚</option>
    <option value="153">纽邬岛</option>
    <option value="159">挪威</option>
    <option value="154">诺福克岛</option>
    <option value="167">皮特卡岛</option>
    <option value="172">葡萄牙</option>
    <option value="80">乔治亚</option>
    <option value="110">日本</option>
    <option value="200">瑞典</option>
    <option value="203">瑞士</option>
    <option value="66">萨尔瓦多</option>
    <option value="236">萨摩亚</option>
    <option value="238">塞尔维亚</option>
    <option value="192">塞拉利昂</option>
    <option value="189">塞内加尔</option>
    <option value="55">塞普路斯</option>
    <option value="187">塞舌尔群岛</option>
    <option value="184">沙特阿拉伯</option>
    <option value="119">圣诞岛</option>
    <option value="211">圣多美岛和普林西比岛</option>
    <option value="190">圣海伦</option>
    <option value="186">圣卡特</option>
    <option value="197">圣露西亚</option>
    <option value="193">圣马</option>
    <option value="245">圣马丁岛</option>
    <option value="185">圣皮埃尔</option>
    <option value="227">圣文森及格瑞那丁</option>
    <option value="199">史巴答</option>
    <option value="39">斯里兰卡</option>
    <option value="127">斯洛伐克</option>
    <option value="191">斯洛文尼亚</option>
    <option value="237">斯威士兰</option>
    <option value="198">苏丹</option>
    <option value="243">苏丹南部</option>
    <option value="162">苏利南</option>
    <option value="29">所罗门岛</option>
    <option value="195">索马里</option>
    <option value="206">塔吉克</option>
    <option value="218">塔桑尼亚</option>
    <option value="216">台湾(中国)</option>
    <option value="205">泰国</option>
    <option value="209">汤加</option>
    <option value="204">特立尼达和多巴哥</option>
    <option value="212">突尼斯</option>
    <option value="214">土耳其</option>
    <option value="217">土库曼</option>
    <option value="207">土库斯和凯科斯群岛</option>
    <option value="215">土瓦魯</option>
    <option value="208">托克勞群島</option>
    <option value="156">万那杜</option>
    <option value="90">危地马拉</option>
    <option value="228">委内瑞拉</option>
    <option value="34">文莱</option>
    <option value="234">沃利斯和富图纳群岛</option>
    <option value="219">乌干达</option>
    <option value="222">乌克兰</option>
    <option value="225">乌拉圭</option>
    <option value="226">乌兹别克</option>
    <option value="196">西班牙</option>
    <option value="235">西撒哈拉</option>
    <option value="89">希腊</option>
    <option value="95">香港(中国)</option>
    <option value="241">辛巴威</option>
    <option value="194">新加坡</option>
    <option value="152">新克罗第尼亚</option>
    <option value="165">新西兰</option>
    <option value="99">匈牙利</option>
    <option value="202">叙利亚</option>
    <option value="112">牙买加</option>
    <option value="8">亚美尼亚</option>
    <option value="239">也门</option>
    <option value="109">伊拉克</option>
    <option value="105">伊朗</option>
    <option value="106">以色列</option>
    <option value="107">意大利</option>
    <option value="103">印度</option>
    <option value="101">印度尼西亚</option>
    <option value="220">英国</option>
    <option value="104">英国印度海领地</option>
    <option value="102">英属地曼岛</option>
    <option value="229">英属佛吉尼亚岛</option>
    <option value="113">约旦</option>
    <option value="230">越南</option>
    <option value="240">赞比亚</option>
    <option value="111">泽西岛</option>
    <option value="38">乍得</option>
    <option value="82">直布罗陀</option>
    <option value="43">智利</option>
    <option value="51">中非共和国</option>
    <option value="42">中国</option>
</select>
{/if}