p<div style="">
    <div data-opt-closeDialog="dialogMsg" style="float:right;padding-top: 10px; padding-right: 13px">
        <svg class="icon-20">
            <use xlink:href="/assets/desktop/icons/icons.svg#icon-close"></use>
        </svg>
    </div>
    <div class="clear"></div>
    <div class="card-s card m1 flex flex-wrap overflow-hidden bg-white shadow relative">
        <a id="273" class="absolute top-minus-100"></a>
        <a class="flex items-center col-12 justify-center std relative" target="_blank"
           href="/index.php/index/m/profile?id=273">
            <div class="profile-bg" style="background-image:url('http://www.bytrip.com/{$m.main_pic}')"></div>
            <div class="border-box z2 flex items-center justify-center standard-online online circle border-white">
                <svg class="col-12 height-12" data-tooltip="ttOn">
                    <use xlink:href="/assets/desktop/icons/icons.svg#icon-online"></use>
                </svg>
            </div>
        </a>

        <div class="sdh col-12 relative flex flex-column">
            <div class="flex items-center mx2 mt2">
                <a target="_blank" href="/index.php/index/m/profile?id=273"
                   class="h3 color-dark-grey m0 truncate max-width-85">{$lang=="en-us"?pinyinName($m.nickname):$m.nickname} </a>
            </div>
            <div class="mx2 my2 h5">
                <table>
                    <tr><td width="50px">{:lang("年龄")}:</td><td align="left">{$m.age}</td></tr>
                    <tr><td>{:lang("城市")}:</td><td> {$lang=="en-us"?pinyinAddress($m.address):$m.address}</td></tr>
                    <tr><td>{:lang("手机")}:</td><td>{$cc["手机"]}</td></tr>
                    <tr><td>{:lang("邮箱")}:</td><td>{$cc["邮箱"]}　 </td></tr>
                    <tr><td>{:lang("QQ")}:</td><td>{$cc["QQ"]}　 </td></tr>
                    <tr><td>{:lang("微信")}:</td><td>{$cc["微信"]}</td></tr>
                </table><br><br><br><br>
            </div>
        </div>
    </div>
</div>