<div class="cmc fixed bottom-0 z4">
    <div class="cmc-table">
        <div class="cmc-wrap-ch flex items-end">
            <div class="ch shadow overflow-hidden rounded m1 relative" data-memberid="4064911">
                <div class="ch-title rounded-top py1 px2 flex items-center">
                    <div class="ch-title-buttons ch-title-buttons-minimise pointer col-1 flex items-center justify-center">
                        <svg class="icon-16">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-arrow-down"></use>
                        </svg>
                    </div>
                    <div class="flex items-center flex-auto mx2">
                        <div class="ch-title-picture me1"><a href="/en/profile/showProfile/ID/4064911"
                                                             class="block h4 relative">
                            <div class="ch-title-picture-image profile-image-46 circle relative"
                                 style="background-image:url(https://cdn.chinalovecupid.com/memphoto/photo1/small/4064911.jpg)">
                                <div class="ch-title-picture-image-notification-bullet hide" data-badge=""></div>
                            </div>
                            <div class="ch-title-picture-image-online-bullet online circle border absolute flex items-center white hide">
                                <svg class="col-12 height-12">
                                    <use xlink:href="/assets/desktop/icons/icons.svg#icon-online"></use>
                                </svg>
                            </div>
                        </a></div>
                        <div class="ch-title-mname flex flex-column col-8"><a href="/en/profile/showProfile/ID/4064911"
                                                                              class="block h4">Sweet</a>
                            <div class="block h5 truncate" title="32 Nanping, Fujian, China">32 • Nanping, Fujian,
                                China
                            </div>
                        </div>
                    </div>
                    <div class="ch-title-buttons flex items-center col-3">
                        <div class="ch-title-close-popup absolute top-0 right-0 bottom-0 left-0 z2 hide"></div>
                        <div class="ch-title-buttons-more relative pointer">
                            <svg class="icon-30">
                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-more"></use>
                            </svg>
                            <ul class="ch-menu hide body-font-color border-none shadow absolute p1 rounded list-reset z2">
                                <li class="py2"><a data-menuitem="showInterest">Show Interest</a></li>
                                <li class="py2"><a data-menuitem="addFavourite">Add Favorites</a></li>
                                <li class="py2"><a data-menuitem="blockUser">Block User</a></li>
                                <li class="py2"><a data-menuitem="reportAbuse"
                                                   data-cm-modal-url="/en/profile/reportAbuse?memberID=4064911"
                                                   class="ch-menu-icon-reportabuse">Report Abuse</a></li>
                                <li class="py2 hide"><a data-menuitem="showTranslation">Show Translation</a></li>
                            </ul>
                        </div>
                        <div class="ch-title-buttons-close pointer ms2">
                            <svg class="icon-20">
                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-close"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="ch-translate hide py1 px2 bg-theme">
                    <form class="flex items-center justify-center">
                        <p class="h5 mx2">Translate</p><label for="onOffFilter"
                                                              class="flex-none ch-translate-button switch tooltip tooltip-wrap-text"><input
                            id="onOffFilter" class="ms1" name="onOffFilter" type="checkbox" value="1"><span
                            class="slider round tooltip"><input id="onOffFilterOff" name="onOffFilter" type="hidden"
                                                                value="0" disabled=""></span></label></form>
                </div>
                <div class="ch-messages">
                    <div class="ch-messages-div">
                        <div class="ch-messages-messagelist overflow-auto mb2">
                            <div class="p2 center h5">2019年3月13日星期三</div>
                            <div class="ch-msg upgrade-chat-reply py1">
                                <div class="ch-msg-reply-pic-chat"
                                     style="background-image: url(https://cdn.chinalovecupid.com/memphoto/photo1/small/4064911.jpg)"></div>
                                <div class="ch-msg-reply-messagebg rounded py1 px2 mx1 break-word">
                                    <div class="ch-msg-reply-message"><p
                                            class="ch-messages-messagelist-div-upgrade-chat-reply-blurredMessage">
                                        Duis </p>
                                        <div class="ch-msg-upgrade-chat-toread p1 rounded bg-white"><span>Sweet</span>
                                            has sent you a message. Upgrade your membership to read their message.<br><a
                                                    class="ch-msg-upgrade-chat-btn py1 px2 rounded bg-green white mt1 block center"
                                                    href="/en/payment/upgrade?useraction=readmail&amp;memberid=4064911">Upgrade
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p2 center h5">2019年3月13日星期三</div>
                            <div class="ch-msg upgrade-chat flex justify-end py1 px2"><span
                                    class="my-message rounded py1 px2 col-8 header-color"><div
                                    class="ch-msg-my-message"><p class="break-word">hello</p><div
                                    class="ch-msg-upgrade-chat-toread p1 rounded bg-white"><p
                                    class="p0 mt1 body-font-color"><span>Sweet</span> cannot read this message as you are both FREE standard members.</p><a
                                    class="ch-msg-upgrade-chat-btn py1 px2 rounded bg-green white mt1 block center"
                                    href="/en/payment/upgrade?useraction=standardtostandard&amp;memberid=4064911">Upgrade Now</a></div></div></span>
                            </div>
                            <div class="p2 center h5">2019年3月13日星期三</div>
                            <div class="ch-msg upgrade-chat-reply py1">
                                <div class="ch-msg-reply-pic-chat"
                                     style="background-image: url(https://cdn.chinalovecupid.com/memphoto/photo1/small/4064911.jpg)"></div>
                                <div class="ch-msg-reply-messagebg rounded py1 px2 mx1 break-word">
                                    <div class="ch-msg-reply-message"><p
                                            class="ch-messages-messagelist-div-upgrade-chat-reply-blurredMessage">
                                        nsequat l</p>
                                        <div class="ch-msg-upgrade-chat-toread p1 rounded bg-white"><span>Sweet</span>
                                            has sent you a message. Upgrade your membership to read their message.<br><a
                                                    class="ch-msg-upgrade-chat-btn py1 px2 rounded bg-green white mt1 block center"
                                                    href="/en/payment/upgrade?useraction=readmail&amp;memberid=4064911">Upgrade
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch-msg upgrade-chat flex justify-end py1 px2"><span
                                    class="my-message rounded py1 px2 col-8 header-color"><div
                                    class="ch-msg-my-message"><p class="break-word">不用，最近1个月才用的</p><div
                                    class="ch-msg-upgrade-chat-toread p1 rounded bg-white"><p
                                    class="p0 mt1 body-font-color"><span>Sweet</span> cannot read this message as you are both FREE standard members.</p><a
                                    class="ch-msg-upgrade-chat-btn py1 px2 rounded bg-green white mt1 block center"
                                    href="/en/payment/upgrade?useraction=standardtostandard&amp;memberid=4064911">Upgrade Now</a></div></div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-block animate-typing bg-light-grey pill m1 ms2 p1 relative" hidden="">
                    <div class="bubble-large circle bg-light-grey absolute"></div>
                    <div class="bubble-small circle bg-light-grey absolute"></div>
                    <div class="inline-block dot circle"></div>
                    <div class="inline-block dot circle"></div>
                    <div class="inline-block dot circle"></div>
                </div>
                <div class="p2 border-top border-color">
                    <div class="flex items-center ch-input">
                        <form id="chatSendMessage4064911" novalidate=""></form>
                        <div class="ch-input-div flex-auto border-bottom"><textarea name="message"
                                                                                    class="border-none p0 col-12 h5"
                                                                                    placeholder="Send a message to Sweet"
                                                                                    form="chatSendMessage4064911"></textarea>
                        </div>
                        <button type="button"
                                class="border-none flex items-center justify-center circle p2 ms1 ch-input-button btn-bg btn-color relative">
                            <svg class="icon-24"><title>Send</title>
                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-send"></use>
                            </svg>
                        </button>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>