<div id="modal" class="flex items-center justify-center fixed">

    <div class="modal max-width-2 bg-white rounded overflow-hidden fade-in">
        <div class="col-12 min-height-4 bg-img-fit" style="background-image: url(/assets/images/default/hero/v2/female/11.jpg)"></div>
        <div class="py2 px3">

            <h1 class="h1 m0 color-dark-grey">pzhu, join VietnamCupid and increase your chances of finding love</h1>
            <p>Your profile and photos will automatically be copied over from your ChinaLoveCupid profile.</p>
            <a class="btn-bg btn-color block py2 px3 button relative overflow-hidden rounded my3 text-decoration-none h3 center" href="https://www.VietnamCupid.com/en/?cmcjc=3B9F615CE801EF3EA250B3722ECA8D46D5FA90C1F2DFE91337AD8E190C2A5696840C922EB9CF85031FA437B0CB00F1968DDD7C4EB2094601C73732C05A037DA99471040F9036201FB9C5612F235DE03CAA19BE8845A14F1EFC3353A43C89A74F&amp;ovchn=showMenu&amp;ovcpn=VietnamCupid+Cross+Promo&amp;ovcrn=ChinaLoveCupid+en&amp;utm_source=showMenu&amp;utm_medium=VietnamCupid+Cross+Promo&amp;utm_campaign=ChinaLoveCupid+en" target="_blank">Join Free</a>
            <div class="flex justify-end">
                <a class="link" aria-controls="modal">Cancel</a>
            </div>
        </div>
    </div>

</div>