<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>

<div id="headerouter" class="" style="margin-top: 10%">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<div class="relative flex">

    <div class="min-height-12 col-12 flex flex-column items-center ">
        <div class="max-width-2 bg-white p3 rounded fade-in">

            <h1 class="color-dark-grey mt0">{:lang("重设密码")}</h1>
            <form name="resetpassword" id="resetpassword" method="post">
                <div class="mb2">

                    <label for="email">{:lang("邮箱")}:</label>
                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="email" id="email" class="col-12" required="" minlength="8"
                               maxlength="20">
                    </div>
                </div>

                <button type="submit"
                        class="block h3 col-11 my3 mx-auto py1 px2 bg-theme header-strip-color rounded relative overflow-hidden ">
                    {:lang("发送重置密码邮件")}
                </button>
            </form>
        </div>
    </div>

</div>

</html>