<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport"
          content="height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=yes">
    <meta name="stm-result" content="ok"/>
    <meta name="keywords" content="{$keywords|default=''}"/>
    {include file="../application/index/view/index/_commoncss.html" /}
    <script>LANG = "{$lang}"</script>
    <script src="/js_ext/SelectUtil.js"></script>
    <script src="/pagejs/index.js"></script>
</head>
<body>
{include file="../application/index/view/index/_head.html" /}
{if condition="$Think.session.isLogin eq true"}
<div class="header-strip height-auto px3 py2">
<div class="max-width flex items-center justify-between mx-auto">
    <div class="flex flex-wrap items-center flex-auto">
        <div class="mb1 me3 relative flex-none">
            <div class="profile-image-header circle shadow border">
                <div class="flex items-center justify-center height-12 circle overflow-hidden card-image-bg-color">
                    <a class="col-12 height-12" target="_blank"
                       href="/index.php/index/m/profile?id={$loginUser.id}">
                        <div class="profile-bg"
                             style="background-image:url('{$loginUser.main_pic}')"></div>
                    </a>
                </div>
            </div>
            <div class="icon-holder flex absolute">
                <div class="icon-24 white flex items-center justify-center pointer bg-white fill-standard  border circle relative">

                    <svg class="icon-16 tooltip">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/assets/desktop/icons/icons.svg#icon-profile"></use>
                    </svg>

                    <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                        普通会员
                    </div>

                </div>

            </div>
        </div>
        <div class="me2 col-6">
            <h1 class="m0 flex items-center">{$loginUser.nickname|default=""},{:lang("您好")}</h1>

            <a class="next-step block mt1 p1 header-strip-color relative white rounded bg-search button overflow-hidden shadow"
               href="/zc/profilemanagement/editprofilephotos">
                {:lang("下一步: 上传多张照片到相片区")}
            </a>
        </div>
    </div>
    <div class="header-info col-7 flex items-start justify-around">


        <a href="/zc/mail/showinbox">
            <div class="m2">
                <div class="relative">
                    <div class="header-circles circle border relative mx-auto header-circles-highlight">

                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/assets/desktop/icons/icons.svg#icon-messages"></use>
                        </svg>

                    </div>

                    <div class="h3 count header-strip-color">2</div>

                </div>
                <h4 class="h4 mb0 center header-strip-color">{:lang('新消息')}</h4>
            </div>
        </a>

        <a href="/zc/results/interestedme?searchtype=1">
            <div class="m2">
                <div class="relative">
                    <div class="header-circles circle border relative mx-auto">

                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/assets/desktop/icons/icons.svg#icon-heart"></use>
                        </svg>

                    </div>

                    <div class="h3 count header-strip-color">0</div>

                </div>
                <h4 class="h4 mb0 center header-strip-color">{:lang("新秋波")}</h4>
            </div>
        </a>

        <a href="/zc/results/viewedmyprofile?searchtype=1">
            <div class="m2">
                <div class="relative">
                    <div class="header-circles circle border relative mx-auto header-circles-highlight">

                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/assets/desktop/icons/icons.svg#icon-eye"></use>
                        </svg>

                    </div>

                    <div class="h3 count header-strip-color">1</div>

                </div>
                <h4 class="h4 mb0 center header-strip-color">{:lang("新浏览")}</h4>
            </div>
        </a>

        <a href="/zc/results/favoritedme?searchtype=1">
            <div class="m2">
                <div class="relative">
                    <div class="header-circles circle border relative mx-auto">

                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/assets/desktop/icons/icons.svg#icon-star"></use>
                        </svg>

                    </div>

                    <div class="h3 count header-strip-color">0</div>

                </div>
                <h4 class="h4 mb0 center header-strip-color">{:lang("新的最爱")}</h4>
            </div>
        </a>
    </div>
</div>
</div>
{/if}

{include file="../application/index/view/index/search.html" /}


<!--Body end-->
</body>

</html>