<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>
</html>
<div id="headerouter" class="col-12 absolute top-0 min-height-12">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<div class="relative white flex">
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">

        <div class="login relative max-width-1 white mx-auto">
            <h1 class="center"> {:lang('会员登录')}</h1>
            <div class="loginform">


                <form id="f" method="post" target="_self" action="/index.php/index/a/doLogin">
                    <input type="hidden" name="page" value="">
                    <div class="flex flex-column">
                        <label class="white">{:lang("邮箱")}</label>

                        <div class="mb2">

                            <div class="form-field mb1 relative" aria-invalid="false">
                                <input type="email" name="email" value="{$email|default=''}" id="form-login-email"
                                       class="col-12 touched"

                                       required="" data-required-message="{:lang('请输入电子邮箱地址')}" autofocus="true"
                                       data-validator-error="true">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column">
                        <label class="white">{:lang("密码")}</label>
                        <div class="mb2">
                            <div class="form-field mb1 relative" aria-invalid="false">
                                <input type="password" name="pwd" value="{$pwd|default=''}" id="form-login-password"
                                       class="col-12"
                                       required="" data-required-message="{:lang('请输入密码')}" pattern=".{6,}">
                            </div>
                        </div>

                        <div class="flex justify-end">
                            <a class="white" href="/index.php/index/m/passwordForget"
                               tabindex="4">{:lang('忘记密码')}</a>

                        </div>
                    </div>
                    <h1></h1>
                    <button type="submit"
                            class="h3 rounded py1 px2 btn-color btn-bg border-none col-12 relative overflow-hidden shadow"
                            tabindex="3" data-disable-on-click="true">{:lang('登录')}
                    </button>
                </form>


            </div>
            <div class="h3 center mt3 link-color">
                {:lang('还不是会员?')}<a href="/index.php/index/m/reg"><strong>{:lang('立即免费加入!')}</strong></a>
            </div>
        </div>
    </div>
</div>


</span>