<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>

    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}

<div class="height-auto px3 py4">
    <div class="col-12">
        <div class="max-width mx-auto py2 flex flex-wrap">

            <div class="me2 col-3 max-width-2">
                <div class="mb3 relative">
                    <div class="profile-image-header circle shadow border mx-auto relative">

                        <div class="flex items-center justify-center height-12 circle overflow-hidden card-image-bg-color">
                            <a class="col-12 height-12" href="/index.php/index/m/profile?id={$msg.id}">
                                <div class="profile-bg" style="background-image:url('{$msg.main_pic}')"></div>
                            </a>
                        </div>
                        <div class="icon-holder absolute">
                        </div>
                        <div class="absolute border-box z2 flex items-center justify-center online circle border-white fill-grey">
                            <svg class="col-12 height-12 tooltip" data-tooltip="ttOn">
                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-online"></use>
                            </svg>
                            <div class="tooltip-text tooltip-text-width-auto truncate tooltip-text-center h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                                {$msg.send_date}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <h2 class="h2 m0 color-dark-grey center truncate"> {$msg.nickname}</h2>
                    <div class="icon-membership ms1 fill-standard relative">
                        <svg class="ms1 fill-standard relative tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-profile"></use>
                        </svg>

                        <div class="tooltip-text tooltip-text-width-auto truncate tooltip-text-center h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                            {:lang("普通会员")}
                        </div>
                    </div>
                </div>
                <div class="h4 mt1 center">{$msg.age} <span>&#8226;</span> {$msg.address},{$msg.country|default=""}
                </div>
                <div class="border-top mt2 p2 flex items-center">
                    <div class="flex flex-wrap items-end justify-between col-12">
                        <div class="flex items-center mb2 me2">


                            <div class="flex flex-auto items-end justify-between ">
                                <div class="flex items-center">
                                    <div data-button="true"
                                         class="pointer me2 relative  {:in_array($msg.id,$uIntrestMids)?'fill-action-highlight':'fill-action-unhighlight' }"
                                         data-opt-interest=""
                                         data-d-mid="{$msg.id}"
                                    >

                                        <svg class="icon-30 tooltip">
                                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-heart"></use>
                                        </svg>

                                        <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                                            {:lang('发送秋波给')}{$msg.nickname}
                                        </div>

                                    </div>

                                    <div  class="pointer me2 relative  {:in_array($msg.id,$uFavoriteMids)?'fill-action-highlight':'fill-action-unhighlight' }"
                                            data-opt-addToFavorite=""
                                            data-d-mid="{$msg.id}"
                                    >

                                        <svg class="icon-30 tooltip">
                                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-star"></use>
                                        </svg>
                                    </div>

                                    <div class="fill-action-unhighlight relative" data-button="true"
                                         data-animate-reset="heartbeat">
                                        <div class="pointer no-highlight flex items-center"
                                        >

                                            <svg class="icon-30 tooltip">
                                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-camera"></use>
                                            </svg>

                                            <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                                                Photos
                                            </div>

                                            <div class="ms2 h5">5</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-8 border-left items-stretch px2 relative">


                <div class="message-holder">


                    <div class="flex relative" data-message-id="110877916">
                        <div class="flex flex-auto items-center">
                            <div class="me3 mt3 relative flex-none">
                                <div class="sender-image circle border card-image-bg-color">
                                    <div class="fit col-12 height-12 circle overflow-hidden">
                                        <div class="profile-bg"
                                             style="background-image:url('{$msg.main_pic}')"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="max-width-2 m0 flex flex-column col-6">
                                <div class="h5 px2 pt2 pb1">{$msg.send_date}</div>
                                <div class="message bg-white p2 rounded relative">
                                    <div class="flex items-center justify-between">
                                        <div class="col-11 mr2 break-word message-text-blur p1 no-select clamp clamp4"
                                        >
                                            <div>{$msg.msg}
                                            </div>

                                        </div>


                                        <div class="message-locked relative">
                                            <svg class="icon-30 fill-white pointer tooltip relative m2">
                                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-lock"></use>
                                            </svg>

                                            <div class="tooltip-text tooltip-text-center h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                                                As a FREE standard member you cannot read messages from other standard
                                                members.
                                            </div>

                                        </div>


                                    </div>

                                    <a class="block message-upgrade m1 py1 px2 bg-green white rounded flex items-center justify-center"
                                       href="/index.php/index/m/upgrade">
                                        <svg class="flex-none fill-white pointer">
                                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-paperairplane"></use>
                                        </svg>
                                        <div class="ms1">{:lang("升级成会员")}</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="message-input-holder mt3 max-width-3">
                    <div class="inline-block animate-typing bg-light-grey pill ms2 p1 relative" hidden>
                        <div class="bubble-large circle bg-light-grey absolute"></div>
                        <div class="bubble-small circle bg-light-grey absolute"></div>
                        <div class="inline-block dot circle"></div>
                        <div class="inline-block dot circle"></div>
                        <div class="inline-block dot circle"></div>
                    </div>

                    <form id="emailreplyform" class="col-12" method="post" action="/en/mail/sendemail/"
                          autocomplete="off">
                        <input type="hidden" id="to_m_id" name="to_m_id" value="2260491">

                        <div class="flex items-end">
                            <div class="col sm-col-12 lg-col-11 border-bottom me1">
                                <textarea id="emailbody" name="body" rows="1"
                                          class="col-12 bg-transparent message-input border-none"
                                          placeholder="Write a message to Jessica here"></textarea>
                            </div>
                            <button class="send-btn bg-theme p2 circle flex items-center border-none relative"
                                    type="submit" data-opt-ajaxSendMsg="">
                                <svg class="icon-30 header-strip-fill">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/desktop/icons/icons.svg#icon-paperairplane"></use>
                                </svg>
                            </button>
                        </div>

                    </form>
                </div>

            </div>


        </div>


        <div class="my2 list-message-filter">

        </div>
    </div>

    <div class="ms1 relative flex-none hide-on-iPad overflow-hidden ad-300-600-holder mb4">

        <div class="ad-300-600-wrapper">
            <div class="mt1 center h4">Advertisement</div>
            <div id="div-gpt-ad-160_600" class="ad-300-600 flex-none flex flex-wrap items-top justify-center mx-auto"
                 data-ad-type="half-page" data-ad-unit="/291063315/chinalovecupid_desktop/mail_vrec_1"
                 data-ad-Width="300" data-ad-Height="600">
            </div>
        </div>

    </div>
</div>


</body>
</html>