<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>

    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}
<div class="header-strip height-auto px3 py4">
    <div class="flex max-width mx-auto justify-between items-center">
        <h1 class="m0 mb2 header-strip-color">
            {:lang("消息列表")}
        </h1>
    </div>

    <div class="max-width mx-auto">
        <div class="tabs flex">
            <h4 data-opt-tabs="messages" class="h4 m0 me4 pb1 count">
                <span class="pointer header-strip-color  border-bottom">
                    {:lang("收到的消息")}
                </span>
            </h4>

            <h4 data-opt-tabs="messages" class="h4 m0 me4 pb1 count ">
                <span class="pointer header-strip-color ">
                    {:lang("发送的消息")}
                </span>
            </h4>

        </div>
    </div>
</div>

<div class="max-width mx-auto p2 flex relative">
    <div class="col-12">
        <div class="flex items-start list-message-filter">
            <div class="list-message-filter col-12" id="messages">
                <div>
                    {volist name="receiveMsgs" id="msg" }
                    <a href="/index.php/index/mail/msgDetail?mid={$msg.f_mid}">
                        <div class="list-message col col-12 px1 my1">
                            <div class="flex items-center relative height-12">
                                <div class="flex-none unread me2 height-10"></div>
                                <div class="flex flex-auto items-center">
                                    <div class="me3 relative flex-none">
                                        <div class="profile-image circle border overflow-hidden">
                                            <div class="fit col-12 height-12 circle card-image-bg-color">
                                                <div class="profile-bg"
                                                     style="background-image:url('{$msg.f_main_pic}')"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 m0 flex flex-column">
                                        <div class="flex items-center justify-between relative">

                                            <div class="flex items-center">
                                                <h1 class="h2 m0 me2 color-dark-grey unread-message">
                                                    {$msg.f_nickname}</h1>
                                                <div class="h5 ml2">{:lang("年龄")}: {$msg.f_age==0?lang("保密"):""}
                                                    {$msg.f_address!=""?$msg.f_address." , ":""}
                                                </div>
                                            </div>

                                            <div class="flex items-center">
                                                <div class="h5 unread-message">{$msg.send_date }</div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="list-message-border col col-12 border-bottom border-color"></div>
                    {/volist}
                </div>
                <div>
                    {volist name="sentMsgs" id="msg" }
                    <a href="/index.php/index/mail/msgDetail?mid={$msg.t_mid}">
                        <div class="list-message col col-12 px1 my1">
                            <div class="flex items-center relative height-12">
                                <div class="flex-none unread me2 height-10"></div>
                                <div class="flex flex-auto items-center">
                                    <div class="me3 relative flex-none">
                                        <div class="profile-image circle border overflow-hidden">
                                            <div class="fit col-12 height-12 circle card-image-bg-color">
                                                <div class="profile-bg"
                                                     style="background-image:url('{$msg.t_main_pic}')"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 m0 flex flex-column">
                                        <div class="flex items-center justify-between relative">

                                            <div class="flex items-center">
                                                <h1 class="h2 m0 me2 color-dark-grey unread-message">
                                                    {$msg.t_nickname}</h1>
                                                <div class="h5 ml2">{:lang("年龄")}: {$msg.t_age==0?lang("保密"):""}
                                                    {$msg.t_address!=""?$msg.t_address." , ":""}
                                                </div>
                                            </div>

                                            <div class="flex items-center">
                                                <div class="h5 unread-message">{$msg.send_date }</div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="list-message-border col col-12 border-bottom border-color"></div>
                    {/volist}
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>