<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>

    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}

<!--Header end-->
<!--Body start-->
<div class="header-strip height-auto px3 py2">
    <div class="max-width mx-auto">
        <div class="tabs flex items-center justify-between">


            <h4 class="h4 m0 me3 pb2 border-bottom count count-active" data-badge="4">
                {:lang('收到消息')}
            </h4>

            <h4 class="h4 m0 me3 pb2">
                <a href="/zc/mail/showsent" class="count header-strip-color" id="sent-icon"> {:lang('已发送消息')}Sent</a>
            </h4>
            <h4 class="h4 m0 me3 pb2">
            </h4>
            <h4 class="h4 m0 me3 pb2">
            </h4><h4 class="h4 m0 me3 pb2">
        </h4><h4 class="h4 m0 me3 pb2">
        </h4>
        </div>

    </div>

</div>

<div class="max-width mx-auto p2 flex relative">
    <div class="col-12">


        <div class="flex items-start list-message-filter">
            <div class="list-message-filter col-12">
                <div class="flex items-center">
                </div>
                <div class="list-message-border col col-12 border-bottom border-color"></div>
                {volist name="msgs" id="msg"  }
                <a href="/index.php/index/mail/msgDetail?id={$msg.msgid}">
                <div class="list-message col col-12 px1 my1">
                    <div class="flex items-center relative height-12">
                        <div class="flex-none unread me2 height-10"  ></div>
                            <div class="flex flex-auto items-center">
                                <div class="me3 relative flex-none">
                                    <div class="profile-image circle border overflow-hidden">
                                        <div class="fit col-12 height-12 circle card-image-bg-color">
                                            <div class="profile-bg"  style="background-image:url('{$msg.main_pic}')"></div> 
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 m0 flex flex-column">
                                    <div class="flex items-center justify-between relative">

                                        <div class="flex items-center">
                                            <h1 class="h2 m0 me2 color-dark-grey unread-message">{$msg.nickname}</h1>
                                            <div class="h5 ml2">{:lang("年龄")}: {$msg.age==0?lang("保密"):""}  {$msg.address!=""?$msg.address." , ":""}{$msg.countryid}</div>
                                        </div>

                                        <div class="flex items-center">
                                            <div class="h5 unread-message">{$msg.send_date } </div>
                                            <div class="h5 unread-message">{$msg.msg } </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
                </a>
                <div class="list-message-border col col-12 border-bottom border-color"></div>
                {/volist}

                <div class="list-message-border col col-12 border-bottom border-color"></div>
                <div class="flex justify-center fixed bottom-0 right-0 left-0 bg-black-alpha-85 p2 center z2 hide"
                     data-submit>
                    <button type="submit" class="bg-green white rounded button py1 px2 shadow h3"></button>
                </div>
            </div>
        </div>
    </div>

</div>


<!--Body end-->


</body>
</html>