<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}
<div id="headerouter">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<div class="relative flex">

    <div class="min-height-12 col-12 flex flex-column items-center justify-center">
        <div class="max-width-2 bg-white p3 rounded fade-in">


            <h1 class="color-dark-grey mt0">{:lang("重设密码")}</h1>


            <p>{:lang("请注意:为了您个人资料安全,请勿使用您的电子邮箱地址密码作为您的新密码")}</p>

            <form name="resetpassword" id="resetpassword" method="post"
                  action="/index.php/index/m/updatePassword" novalidate="">
                {present name="ischeck"}
                {assign name="show" value="1" /}
                {else /}
                {assign name="show" value="0" /}
                {/present}

                <div class="mb2">
                    <label for="pwd">{:lang("新密码")}:</label>
                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="pwd" id="pwd" class="col-12" required="" value="{$pwd|default=''}"
                               data-required-message="{:lang(" 新密码")}" minlength="8" maxlength="20">
                        <input type="text" name="token" id="token" hidden value="{$token}">
                        <span class="error-message ms1">{$show=="1"? $error["pwd"]:""}</span>
                    </div>
                </div>


                <div class="mb2">
                    <label for="pwd_confirm">{:lang("确认新密码:")} </label>
                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="pwd_confirm" id="pwd_confirm" class="col-12"
                               required="" data-required-message='{:lang("确认新密码:")}' minlength="8" maxlength="20"
                               data-validate="equalvalue" data-equalvalue="pwd">
                        <span class="error-message ms1">{$show=="1"? $error["pwd_confirm"]:""}</span>
                    </div>
                </div>
                <table>
                    <tr>
                        <td align="center" width="50%"><span
                                class="error-message ms1">{$show=="1"? $error["token"]:""}</span></td>
                        <td></td>
                    </tr>
                </table>
                <button type="submit"
                        class="block h3 col-11 my3 mx-auto py1 px2 bg-theme header-strip-color rounded relative overflow-hidden ">
                    {:lang("重置密码")}
                </button>

            </form>
        </div>
    </div>

</div>
</body>
</html>