<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>
{include file="../application/index/view/index/_head.html" /}
<div id="headerouter">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<div class="relative flex">
    <div class="min-height-12 col-12 flex flex-column items-center justify-center">
        <div class="max-width-2 bg-white p3 rounded fade-in">
            <h1 class="color-dark-grey mt0">{$msg|default=lang("支付成功")} </h1>
        </div>
    </div>
</div>
<script>
setTimeout(function () {
    window.location.href="/"
},5000)
</script>
</html>