<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>{$m.nickname} / {$m.age} / {$m.address},{$m.country|default=""}| www.chinesecompanion.com</title>


    <meta id="defaultmessage" content="处理过程中发生问题"/>

    <meta name="viewport"
          content="height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=yes">


    <meta name="stm-result" content="ok"/>


    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}


<div class="header flex items-center justify-between"></div>


<div class="absolute right-0 m1 h5 flex">
    <div class="me3"><!--最后登陆时间: 昨天--></div>
    <!--148 / 1000-->
</div>
<div class="profile sm-col-9 lg-col-8 mx-auto flex">
    <div class="profile-image circle pointer shadow border me3 relative flex-none">
        <div class="overflow-hidden fit col-12 height-12 circle card-image-bg-color">

            <div class="profile-bg" data-cm-modal-URL="/zc/profile/showphotodisplaywidget?memberid=2260491"
                 style="background-image:url('http://www.bytrip.com/{$m.main_pic}')"></div>

        </div>

        <div class="icon-holder absolute">

        </div>
        <div class="border-box online circle absolute flex items-center justify-center border-white fill-grey">
            <svg class="col-12 height-12 tooltip">
                <use xlink:href="/assets/desktop/icons/icons.svg#icon-online"></use>
            </svg>

            <div class="tooltip-text tooltip-text-width-auto truncate tooltip-text-center h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                <!--     最后登陆时间: 昨天-->
            </div>

        </div>
    </div>
    <div class="profile-details mt3 col-12">
        <div class="profile-details-name flex justify-between">
            <h2 class="m0 mt2 flex items-center color-dark-grey">
                {$m.nickname}
            </h2>
        </div>

        <p class="m0">{$m.age} <span>&#8226;</span> {$m.address},{$m.country|default=""} </p>
        <p class="mt1 mb0">
            {$m.sex=="0" ? "女" :"男"} /
            {:lang("会员号")}: {$m.id}
        </p>

        <p class="mt0 mb2">
        </p>

        <div class="flex">
            <div class="flex flex-auto items-center justify-between">

                <div class="flex items-center mxn1 fill-white">
                    <div class="pointer circle icon-padding shadow relative bg-dark-grey"
                         data-profile="true" data-button="true"
                         data-animation="pop-fade-out"
                         data-showInterest="/zc/memberRelationship/showInterest/0D0585E6C0C047B4459D0A"
                    >

                        <svg class="icon-30 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-heart"></use>
                        </svg>

                        <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                            {:lang("发送秋波给")}{$m.nickname}
                        </div>

                    </div>
                    <div class="pointer circle icon-padding mx1 shadow inactive relative bg-dark-grey"
                         data-chatMemberID="2260491">

                        <svg class="icon-30 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-messages"></use>
                        </svg>

                        <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                            {:lang("发送消息给")}{$m.nickname}
                        </div>

                    </div>
                    <div class="pointer circle relative me1 fill-action-highlight">

                        <svg class="icon-50 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-star"></use>
                        </svg>

                        <div class="tooltip-text truncate tooltip-text-center tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                            {:lang("加入最爱")}
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>
<div class="overview sm-col-10 lg-col-9 max-width mx-auto mb3">
    <h3></h3>
    <div class="overview-details">

        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("身高")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">

                <div class=" absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.height!=""?$m.height."cm":""}
            </div>


        </div>

        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("体重")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">
                <div class=" absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.weight!=""?$m.weight."kg":""}
            </div>
        </div>


        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("国籍")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">

                <div class="match absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.country|default= "" }
            </div>
        </div>
    </div>
</div>
</body>
</html>