<!DOCTYPE html>
<html dir="ltr" lang="zh-Hans" data-device="desktop">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>{$m.nickname} / {$m.age} / {$m.address},{$m.country|default=""}| www.chinesecompanion.com</title>


    <meta id="defaultmessage" content="处理过程中发生问题"/>

    <meta name="viewport"
          content="height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=yes">
    <meta name="stm-result" content="ok"/>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>
<body>
{include file="../application/index/view/index/_head.html" /}

<div class="relative flex">

    <div id="profileImages" class="images-wrapper relative flex col-12 m0 p0" data-bb="1">
        <div class="profile-tile height-12 flex flex-wrap flex-auto profile-tile-bg-2">
        </div>
        {volist name="pics" id="pic" key="k"}
        {if condition="$k<10"}
        <div class="profile-tile relative profile-tile-width-5 height-12 profile-tile-bg-1 pointer"
             style="background-image: url('{$pic.file_path}');">
        </div>
        {/if}

        {/volist}


        <div class="profile-tile height-12 flex flex-wrap flex-auto profile-tile-bg-2">
        </div>

    </div>

</div>
<div class="profile sm-col-9 lg-col-8 mx-auto flex">
    <div class="profile-image circle pointer shadow border me3 relative flex-none">
        <div class="overflow-hidden fit col-12 height-12 circle card-image-bg-color">
            <div class="profile-bg"
                 style="background-image:url('{$m.main_pic}')"></div>
        </div>

        <div class="icon-holder absolute">

        </div>
        <div class="border-box online circle absolute flex items-center justify-center border-white fill-grey">
            <svg class="col-12 height-12 tooltip">
                <use xlink:href="/assets/desktop/icons/icons.svg#icon-online"></use>
            </svg>

            <div class="tooltip-text tooltip-text-width-auto truncate tooltip-text-center h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                <!--     最后登陆时间: 昨天-->
            </div>

        </div>
    </div>
    <div class="profile-details mt3 col-12">
        <div class="profile-details-name flex justify-between">
            <h2 class="m0 mt2 flex items-center color-dark-grey">
                {$m.nickname}
            </h2>
        </div>

        <p class="m0">{$m.age==0?lang("保密"):""} <span>&nbsp </span>
            {$m.address!=""?$m.address.",":""}{$m.country|default=""} </p>
        <p class="mt1 mb0">
            {$m.sex=="0" ?lang("女性"):lang("男性")}
        </p>

        <p class="mt0 mb2">
        </p>

        <div class="flex">
            <div class="flex flex-auto items-center justify-between">

                <div class="flex items-center mxn1 fill-white">
                    <div class="pointer circle icon-padding shadow relative bg-dark-grey" data-opt-interest
                         data-d-mid="{$m.id}">

                        <svg class="icon-30 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-heart"></use>
                        </svg>

                        <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select" >
                            {:lang("发送秋波给")}{$m.nickname}
                        </div>

                    </div>
                    <div class="pointer circle icon-padding mx1 shadow inactive relative bg-dark-grey"
                         data-opt-sendmsg="" data-d-mid="{$m.id}">

                        <svg class="icon-30 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-messages"></use>
                        </svg>

                        <div class="tooltip-text truncate tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select"
                             data-opt-sendmsg="" data-d-mid="{$m.id}">
                            {:lang("发送消息给")}{$m.nickname}
                        </div>

                    </div>

                    <div class="pointer circle relative me1 fill-action-<?php echo in_array($m->id,$uFavoriteMids)?'highlight':'unhighlight' ?>"
                         data-opt-addToFavorite="" data-d-mid="{$m.id}">
                        <svg class="icon-50 tooltip">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-star"></use>
                        </svg>
                        <div class="tooltip-text truncate tooltip-text-center tooltip-text-width-auto h5 rounded p1 bg-black-alpha-85 white absolute max-width-1 no-select">
                            {:lang("加入最爱")}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overview sm-col-10 lg-col-9 max-width mx-auto mb3">
    <h3></h3>
    <div class="overview-details">

        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("身高")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">

                <div class=" absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.height!=""?$m.height."cm":""}
            </div>


        </div>

        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("体重")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">
                <div class=" absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.weight!=""?$m.weight."kg":""}
            </div>
        </div>


        <div class="row flex items-stretch">
            <div class="col-3 flex items-center justify-between p1">
                {:lang("国籍")}:
            </div>
            <div class="col-5 me3 p1 relative overview-details-bg ">

                <div class="match absolute top-0 right-0 bottom-0 left-0"></div>
                {$m.country|default= "" }
            </div>
        </div>
    </div>
</div>
</body>
</html>