<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>

<div id="headerouter" class="" style="margin-top: 10%">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<!--<div class="relative flex">

    <div class="min-height-12 col-12 flex flex-column items-center justify-center">
        <div class="max-width-2 bg-white p3 rounded fade-in">


            <h1 class="color-dark-grey mt0">Reset your password</h1>


            <p>Important: For extra security ensure that your new password is NOT the same as your email password.</p>

            <form name="resetpassword" id="resetpassword" method="post" action="https://www.ChinaLoveCupid.com/en/auth/resetpassword" novalidate="">


                <div class="mb2">

                    <label for="new_password" class="invalidMessage">New Password:</label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="new_password" id="new_password" class="col-12 touched" required="" data-required-message="New Password is required" minlength="8" maxlength="20" data-validator-error="true">
                        <div class="invalidMessage flex items-center mt1">
                            <svg class="icon-24 fill-red flex-none">
                                <use xlink:href="/assets/desktop/icons/icons.svg#icon-warning"></use>
                            </svg>
                            <span class="error-message ms1">New Password is required</span>
                        </div>
                    </div>
                </div>


                <div class="mb2">

                    <label for="confirm_new_password">Confirm New Password:</label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="confirm_new_password" id="confirm_new_password" class="col-12" required="" data-required-message="The Password Did Not Match." minlength="8" maxlength="20" data-validate="equalvalue" data-equalvalue="new_password">
                    </div>
                </div>



                <button type="submit" class="block h3 col-11 my3 mx-auto py1 px2 bg-theme header-strip-color rounded relative overflow-hidden ">Save</button>
                <input type="hidden" name="status" value="1">
                <input type="hidden" name="access" value="23DB0BDBC4DDC4B1DB10F90D51238B0AEF928EBA18BA5002">

            </form>
            <h2 class="theme-color mb1">Password Guidelines</h2>


            <p class="my1">Your password must meet the following criteria:</p>
            <ul class="mb0">
                <li>Must be between 8 to 20 characters in length.</li>
                <li>Must contain at least one alpha character (eg. A-Z). </li>
                <li>Must contain at least one number.</li>
                <li>Must contain NO spaces.</li>
                <li>Must not be the same as previous passwords</li>
            </ul>


        </div>
    </div>

</div>-->


<div class="relative flex">

    <div class="min-height-12 col-12 flex flex-column items-center justify-center">
        <div class="max-width-2 bg-white p3 rounded fade-in">


            <h1 class="color-dark-grey mt0">{:lang("重设密码")}</h1>


            <p>{:lang("请注意:为了您个人资料安全,请勿使用您的电子邮箱地址密码作为您的新密码")}</p>

            <form name="resetpassword" id="resetpassword" method="post" action="https://www.ChinaLoveCupid.com/zc/auth/resetpassword" novalidate="">


                <div class="mb2">

                    <label for="new_password">{:lang("新密码")}:</label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="new_password" id="new_password" class="col-12" required="" data-required-message="新密码: 请输入字元" minlength="8" maxlength="20">
                    </div>
                </div>


                <div class="mb2">

                    <label for="confirm_new_password">{:lang("确认新密码:")} </label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="confirm_new_password" id="confirm_new_password" class="col-12" required="" data-required-message="密码不相符" minlength="8" maxlength="20" data-validate="equalvalue" data-equalvalue="new_password">
                    </div>
                </div>



                <button type="submit" class="block h3 col-11 my3 mx-auto py1 px2 bg-theme header-strip-color rounded relative overflow-hidden ">{:lang("保存")}</button>

            </form>
         <!--   <h2 class="theme-color mb1">密码设定原则</h2>
            <p class="my1">您的密码必须符合以下条件:</p>
            <ul class="mb0">
                <li>长度必须介于8到20个字元之間</li>
                <li>必须至少包含一个字母(如:A-Z)</li>
                <li>必须至少包含一个数字</li>
                <li>不能包含空格</li>
                <li>密码不可以和之前所使用的相同</li>
            </ul>-->


        </div>
    </div>

</div>

</html>