<html>
<head>
    {include file="../application/index/view/index/_commoncss.html" /}
</head>

<div id="headerouter" class="" style="margin-top: 10%">
    <div class="overlay-7 fixed top-0 left-0 right-0 bottom-0"></div>
    <div class="absolute top-0 left-0 col-12 z2 flex items-center justify-between">
    </div>
</div>
<div class="relative flex">

    <div class="min-height-12 col-12 flex flex-column items-center justify-center">
        <div class="max-width-2 bg-white p3 rounded fade-in">


            <h1 class="color-dark-grey mt0">{:lang("重设密码")}</h1>


            <p>{:lang("请注意:为了您个人资料安全,请勿使用您的电子邮箱地址密码作为您的新密码")}</p>

            <form name="resetpassword" id="resetpassword" method="post"
                  action="https://www.ChinaLoveCupid.com/zc/auth/resetpassword" novalidate="">


                <div class="mb2">

                    <label for="new_password">{:lang("新密码")}:</label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="new_password" id="new_password" class="col-12" required=""
                               data-required-message="新密码: 请输入字元" minlength="8" maxlength="20">
                    </div>
                </div>


                <div class="mb2">

                    <label for="confirm_new_password">{:lang("确认新密码:")} </label>

                    <div class="form-field mb1 relative" aria-invalid="false">
                        <input type="password" name="confirm_new_password" id="confirm_new_password" class="col-12"
                               required="" data-required-message="密码不相符" minlength="8" maxlength="20"
                               data-validate="equalvalue" data-equalvalue="new_password">
                    </div>
                </div>


                <button type="submit" class="block h3 col-11 my3 mx-auto py1 px2 bg-theme header-strip-color rounded relative overflow-hidden ">
                    {:lang("保存")}
                </button>
            </form>
        </div>
    </div>

</div>

</html>