<!--
                            <div class="topSection">
                                <div class="table2 p1 flex items-center justify-between">
                                    <label for="credit" class="col-12">
                                        <div class="flex items-center">
                                            <input type="radio" name="paymentMethod" class="changeCurrency" id="credit"
                                                   value="1,1">
                                            <div class="icon circle relative mr2">
                                                <div class="absolute white ticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                                <div class="absolute white unticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                            </div>
                                            <div class="flex items-center col-11">
                                                <div class="col-3 inline-block align-middle mr2">
                                                    Credit Card
                                                    <div class="recommend-btn inline-block border border-green green-text rounded regular center h6">
                                                        Recommended
                                                    </div>
                                                </div>
                                                <div class="col-9 inline-block align-middle">

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/1.png)"></div>

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/2.png)"></div>

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/3.png)"></div>

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/132.png)"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div alt="info" id="1" class="showInfo fill-grey info-icon"
                                         data-title="Credit Card Payment Information">
                                    </div>
                                </div>
                            </div>

                            <div class="topSection">
                                <div class="table2 p1 flex items-center justify-between">
                                    <label for="WeChat Pay" class="col-12">
                                        <div class="flex items-center">
                                            <input type="radio" name="paymentMethod" class="changeCurrency"
                                                   id="WeChat Pay" value="93100000,9">
                                            <div class="icon circle relative mr2">
                                                <div class="absolute white ticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                                <div class="absolute white unticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                            </div>
                                            <div class="flex items-center col-11">
                                                <div class="col-3 inline-block align-middle mr2">
                                                    WeChat Pay
                                                </div>
                                                <div class="col-9 inline-block align-middle">

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url( https://live.adyen.com/hpp/img/pm/wechatpay.png)"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div alt="info" id="93100000" class="showInfo fill-grey info-icon"
                                         data-title="WeChat pay">&lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                        &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z"></path>
<g>
	<path class="st0" d="M27.4,28.2c0.9-2.3,2.2-4.3,3.8-6c1.6-1.7,3.6-3,5.9-4c2.3-1,4.9-1.4,7.7-1.4c3.7,0,6.7,0.5,9.2,1.5
		c2.4,1,4.4,2.3,5.9,3.8c1.5,1.5,2.6,3.1,3.2,4.8c0.6,1.7,1,3.3,1,4.8c0,2.5-0.3,4.5-1,6.1c-0.6,1.6-1.4,3-2.4,4.1
		c-1,1.1-2,2.1-3.2,2.9c-1.2,0.8-2.3,1.6-3.3,2.4c-1,0.8-1.9,1.7-2.7,2.7c-0.8,1-1.3,2.3-1.5,3.9v2.9H39.5v-3.5
		c0.2-2.2,0.6-4.1,1.3-5.6c0.7-1.5,1.5-2.8,2.4-3.8c0.9-1.1,1.9-2,2.9-2.7c1-0.8,2-1.5,2.9-2.3c0.9-0.8,1.6-1.6,2.1-2.6
		c0.5-0.9,0.8-2.1,0.7-3.5c0-2.4-0.6-4.1-1.7-5.3c-1.2-1.1-2.8-1.7-4.8-1.7c-1.4,0-2.6,0.3-3.6,0.8c-1,0.5-1.8,1.3-2.5,2.2
		c-0.6,0.9-1.1,2-1.4,3.2c-0.3,1.2-0.5,2.5-0.5,3.9H26C26,33,26.5,30.5,27.4,28.2z M50.6,61.4v11.9H38.4V61.4H50.6z"></path>
</g>
</svg>
                                    </div>
                                </div>
                            </div>

                            <div class="topSection">
                                <div class="table2 p1 flex items-center justify-between">
                                    <label for="Alipay" class="col-12">
                                        <div class="flex items-center">
                                            <input type="radio" name="paymentMethod" class="changeCurrency" id="Alipay"
                                                   value="86100000,8">
                                            <div class="icon circle relative mr2">
                                                <div class="absolute white ticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                                <div class="absolute white unticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                            </div>
                                            <div class="flex items-center col-11">
                                                <div class="col-3 inline-block align-middle mr2">
                                                    Alipay
                                                </div>
                                                <div class="col-9 inline-block align-middle">

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/861.png)"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div alt="info" id="86100000" class="showInfo fill-grey info-icon"
                                         data-title="Alipay">&lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                        &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z"></path>
<g>
	<path class="st0" d="M27.4,28.2c0.9-2.3,2.2-4.3,3.8-6c1.6-1.7,3.6-3,5.9-4c2.3-1,4.9-1.4,7.7-1.4c3.7,0,6.7,0.5,9.2,1.5
		c2.4,1,4.4,2.3,5.9,3.8c1.5,1.5,2.6,3.1,3.2,4.8c0.6,1.7,1,3.3,1,4.8c0,2.5-0.3,4.5-1,6.1c-0.6,1.6-1.4,3-2.4,4.1
		c-1,1.1-2,2.1-3.2,2.9c-1.2,0.8-2.3,1.6-3.3,2.4c-1,0.8-1.9,1.7-2.7,2.7c-0.8,1-1.3,2.3-1.5,3.9v2.9H39.5v-3.5
		c0.2-2.2,0.6-4.1,1.3-5.6c0.7-1.5,1.5-2.8,2.4-3.8c0.9-1.1,1.9-2,2.9-2.7c1-0.8,2-1.5,2.9-2.3c0.9-0.8,1.6-1.6,2.1-2.6
		c0.5-0.9,0.8-2.1,0.7-3.5c0-2.4-0.6-4.1-1.7-5.3c-1.2-1.1-2.8-1.7-4.8-1.7c-1.4,0-2.6,0.3-3.6,0.8c-1,0.5-1.8,1.3-2.5,2.2
		c-0.6,0.9-1.1,2-1.4,3.2c-0.3,1.2-0.5,2.5-0.5,3.9H26C26,33,26.5,30.5,27.4,28.2z M50.6,61.4v11.9H38.4V61.4H50.6z"></path>
</g>
</svg>
                                    </div>
                                </div>
                            </div>

                            <div class="topSection">
                                <div class="table2 p1 flex items-center justify-between">
                                    <label for="China Union Pay" class="col-12">
                                        <div class="flex items-center">
                                            <input type="radio" name="paymentMethod" class="changeCurrency"
                                                   id="China Union Pay" value="43000000,8">
                                            <div class="icon circle relative mr2">
                                                <div class="absolute white ticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                                <div class="absolute white unticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                            </div>
                                            <div class="flex items-center col-11">
                                                <div class="col-3 inline-block align-middle mr2">
                                                    Union Pay
                                                </div>
                                                <div class="col-9 inline-block align-middle">

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url(/assets/images/upgradeMembership/430.png)"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div alt="info" id="43000000" class="showInfo fill-grey info-icon"
                                         data-title="Union Pay Information">&lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                        &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z"></path>
<g>
	<path class="st0" d="M27.4,28.2c0.9-2.3,2.2-4.3,3.8-6c1.6-1.7,3.6-3,5.9-4c2.3-1,4.9-1.4,7.7-1.4c3.7,0,6.7,0.5,9.2,1.5
		c2.4,1,4.4,2.3,5.9,3.8c1.5,1.5,2.6,3.1,3.2,4.8c0.6,1.7,1,3.3,1,4.8c0,2.5-0.3,4.5-1,6.1c-0.6,1.6-1.4,3-2.4,4.1
		c-1,1.1-2,2.1-3.2,2.9c-1.2,0.8-2.3,1.6-3.3,2.4c-1,0.8-1.9,1.7-2.7,2.7c-0.8,1-1.3,2.3-1.5,3.9v2.9H39.5v-3.5
		c0.2-2.2,0.6-4.1,1.3-5.6c0.7-1.5,1.5-2.8,2.4-3.8c0.9-1.1,1.9-2,2.9-2.7c1-0.8,2-1.5,2.9-2.3c0.9-0.8,1.6-1.6,2.1-2.6
		c0.5-0.9,0.8-2.1,0.7-3.5c0-2.4-0.6-4.1-1.7-5.3c-1.2-1.1-2.8-1.7-4.8-1.7c-1.4,0-2.6,0.3-3.6,0.8c-1,0.5-1.8,1.3-2.5,2.2
		c-0.6,0.9-1.1,2-1.4,3.2c-0.3,1.2-0.5,2.5-0.5,3.9H26C26,33,26.5,30.5,27.4,28.2z M50.6,61.4v11.9H38.4V61.4H50.6z"></path>
</g>
</svg>
                                    </div>
                                </div>
                            </div>

                            <div class="hideSection animate-fadeIn hideRow">
                                <div class="table2 p1 flex items-center justify-between">
                                    <label for="Skrill" class="col-12">
                                        <div class="flex items-center">
                                            <input type="radio" name="paymentMethod" class="changeCurrency" id="Skrill"
                                                   value="93800000,9">
                                            <div class="icon circle relative mr2">
                                                <div class="absolute white ticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                                <div class="absolute white unticked">
                                                    &lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                                    &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                                    <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                </div>
                                            </div>
                                            <div class="flex items-center col-11">
                                                <div class="col-3 inline-block align-middle mr2">
                                                    Skrill
                                                </div>
                                                <div class="col-9 inline-block align-middle">

                                                    <div class="inline-block align-middle bank-logo-clip"
                                                         style="background-image:url( https://live.adyen.com/hpp/img/pm/moneybookers.png)"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div alt="info" id="93800000" class="showInfo fill-grey info-icon"
                                         data-title="Skrill">&lt;!&ndash;?xml version="1.0" encoding="utf-8"?&ndash;&gt;
                                        &lt;!&ndash; Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;
                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z"></path>
<g>
	<path class="st0" d="M27.4,28.2c0.9-2.3,2.2-4.3,3.8-6c1.6-1.7,3.6-3,5.9-4c2.3-1,4.9-1.4,7.7-1.4c3.7,0,6.7,0.5,9.2,1.5
		c2.4,1,4.4,2.3,5.9,3.8c1.5,1.5,2.6,3.1,3.2,4.8c0.6,1.7,1,3.3,1,4.8c0,2.5-0.3,4.5-1,6.1c-0.6,1.6-1.4,3-2.4,4.1
		c-1,1.1-2,2.1-3.2,2.9c-1.2,0.8-2.3,1.6-3.3,2.4c-1,0.8-1.9,1.7-2.7,2.7c-0.8,1-1.3,2.3-1.5,3.9v2.9H39.5v-3.5
		c0.2-2.2,0.6-4.1,1.3-5.6c0.7-1.5,1.5-2.8,2.4-3.8c0.9-1.1,1.9-2,2.9-2.7c1-0.8,2-1.5,2.9-2.3c0.9-0.8,1.6-1.6,2.1-2.6
		c0.5-0.9,0.8-2.1,0.7-3.5c0-2.4-0.6-4.1-1.7-5.3c-1.2-1.1-2.8-1.7-4.8-1.7c-1.4,0-2.6,0.3-3.6,0.8c-1,0.5-1.8,1.3-2.5,2.2
		c-0.6,0.9-1.1,2-1.4,3.2c-0.3,1.2-0.5,2.5-0.5,3.9H26C26,33,26.5,30.5,27.4,28.2z M50.6,61.4v11.9H38.4V61.4H50.6z"></path>
</g>
</svg>
                                    </div>
                                </div>
                            </div>-->