<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" data-device="desktop">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <title>Upgrade</title>
    <meta id="defaultmessage" content="Oops, something went wrong!">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">


    <meta name="stm-result" content="ok">


    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/basscss/basscss.min.css?v=165">
    <link type="text/css" rel="stylesheet" href="/assets/css/site/modal/modal.css?v=165">


    <link type="text/css" rel="stylesheet" href="/assets/css/global/global.css?v=165">

    <link rel="stylesheet" href="/assets/desktop/css/chinalovecupid-hybrid.css?v=24">

    <link type="text/css" rel="stylesheet" href="/assets/css/site/generic/membercolor.css?v=165">
    <link type="text/css" rel="stylesheet" href="/assets/css/site/generic/membercolor_chinalovecupid.css?v=165">
    <link type="text/css" rel="stylesheet" href="/assets/css/site/generic/memberheader.css?v=165">
    <link type="text/css" rel="stylesheet" href="/assets/css/site/generic/memberlayout.css?v=165">
    <link type="text/css" rel="stylesheet" href="/assets/css/site/payment/upgradeMembership.css?v=165">
</head>
<body>
{include file="../application/index/view/index/_head.html" /}
<div id="dialogUpgrade">
    <div class="clearfix flex bannerwrapper-payment py4">
        <div id="bannerpage">
            <div class="clear"></div>
            <div id="main-content">
                <form name="upgradeForm" id="upgradeForm" action="/index.php/index/verotel/pay"
                      method="post">
                    <div id="subscription" class="ab">
                        <div id="sub-hdr"><h2>{:lang("第一步，选择你要升级的会员类型")}</h2>
                            <div class="clear"></div>
                        </div>
                        <div id="Platinum" class="tabcontent" style="display: block;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">

                                <tbody>
                                <tr>
                                    <td width="20%" class="platinumbg h4">{:lang("1年 VIP 会员")}<br>
                                        Access All Companions' Contact Information( cell mobile, email, wechat, qq) For
                                        One
                                        Year
                                    </td>
                                    <td>
                                        <label for="f99" class="table col-12 cursor-pointer">
                                            <div class="table-cell align-middle col-1">
                                                <input type="radio" name="product" id="f99" checked value="year">
                                                <div class="block icon circle relative">
                                                    <div class="absolute white ticked">
                                                        <!--?xml version="1.0" encoding="utf-8"?-->
                                                        <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<circle cx="45" cy="45" r="24"></circle>
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                    </div>
                                                    <div class="absolute white unticked">
                                                        <!--?xml version="1.0" encoding="utf-8"?-->
                                                        <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                        <svg version="1.1" id="border" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<path d="M45,0C20.2,0,0,20.1,0,45s20.2,45,45,45s45-20.2,45-45S69.9,0,45,0L45,0z M45,5c22.1,0,40,17.9,40,40S67.1,85,45,85
	S5,67.1,5,45S22.9,5,45,5"></path>
</svg>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-cell col-10 align-middle mx2">
                                                <div class="col-8 inline-block align-middle">
                                                    <strong>
                                                        <span class="discount">&nbsp;€99 </span>
                                                    </strong>
                                                </div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="payment">
                        <div class="payment">

                            <button type="submit" class="block greenShinyButton mx-auto relative overflow-hidden"
                                    name="submitup" id="submitbutton">{:lang("提交")}
                            </button>
                            <!--upgrade_other-->
                            <div id="autoRenewText"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>