
<style>.td{width:25%;height:50px;}

th{ text-align: center;}
</style>
<div  >
    <h4><input type="checkbox" name="selectAll">全选 <input type="text" name="sort" value="">
        <button name="b_update_sort">更新排序</button>
    </h4>
    {if condition='count($members)>0'}
    <table>
        <tr>
            <td class="td">&nbsp;&nbsp;<a href="#searchForm" data-page="1">{:lang("第一页")}</a></td>
            <td class="td">&nbsp;&nbsp;<a href="#searchForm" data-page="{$prevPno}">{:lang("上一页")}</a></td>
            <td class="td">&nbsp;&nbsp;{if condition="$pno neq $nextPno"}<a href="#searchForm" data-page="{$nextPno}"> {:lang("下一页")}</a>{/if}</td>
            <td class="td">&nbsp;&nbsp;{if condition="$pno neq $lastPno"}<a href="#searchForm" data-page="{$lastPno}">{:lang("最末页")}</a>{/if}</td>
        </tr>
    </table>
    {/if}
    <table>
        <thead>
            <th><input type="checkbox" name="all" ></th>
            <th>&nbsp;头像</th>
            <th>&nbsp;昵称</th>
            <th>&nbsp;年龄</th>
            <th>&nbsp;地址</th>
            <th>&nbsp;操作</th>
            <th>&nbsp;照片</th>
        </thead>
    {volist name="members" id="p"}
    <tr>
        <td><input type="checkbox" name="uids" value="{$p.id}" ></td>
        <td class="td"><img src="{$p.main_pic}" data-opt-bigimg width="50px" height="50px" alt=""></td>
        <td> <a href="/index.php/index/m/profile?id={$p.id}" target="_blank">{$p.nickname}</a></td>
        <td>{$p.age}</td>
        <td>{$p.address}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>删除</span>&nbsp;&nbsp;&nbsp;<span></span></td>
        <td>{:count($p['pics'])} {volist name="$p['pics']" id="pic"}<img data-opt-bigimg src="{$pic.file_path}" height="50px" alt="">{/volist}</td>
    </tr>
    {/volist}
    </table>
    {if condition='count($members)>0'}
    <table>
        <tr>
            <td class="td">&nbsp;&nbsp;<a href="#searchForm" data-page="1">{:lang("第一页")}</a></td>
            <td class="td">&nbsp;&nbsp;<a href="#searchForm" data-page="{$prevPno}">{:lang("上一页")}</a></td>
            <td class="td">&nbsp;&nbsp;{if condition="$pno neq $nextPno"}<a href="#searchForm" data-page="{$nextPno}"> {:lang("下一页")}</a>{/if}</td>
            <td class="td">&nbsp;&nbsp;{if condition="$pno neq $lastPno"}<a href="#searchForm" data-page="{$lastPno}">{:lang("最末页")}</a>{/if}</td>

        </tr>
    </table>
    {/if}
</div>