<style>

    th, td {
        text-align: center;
    }

    .bigimg {
        padding: 10px;
        width:300px;
        height: 300px
    }

    .smallimg {
        width: 50px;
        height: 50px
    }
    .adel{
        position: inherit;
        float:right;
        margin-top: 5%;
        margin-right: 5%;
    }
</style>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
{if condition='count($members)>0'}
<div class="max-width   mx-auto">
    <div class="flex justify-between items-center caps">
        <div class="flex">
            <div class="flex items-center me2 opacity-6">
                <div class="fill-standard me1">
                    <svg class="icon-first">
                        <use xlink:href="/assets/desktop/icons/icons.svg#icon-first"></use>
                    </svg>
                </div>
                <a href="#searchForm" data-page="1">{:lang("第一页")}</a>
            </div>

            <div class="flex items-center opacity-6">
                <div class="fill-standard me1">
                    <svg class="icon-prev">
                        <use xlink:href="/assets/desktop/icons/icons.svg#icon-menuleft"></use>
                    </svg>
                </div>
                <a href="#searchForm" data-page="{$prevPno}"> {:lang("上一页")}</a>
            </div>

        </div>

        <div class="flex">
            {if condition="$pno neq $nextPno"}
            <a href="#searchForm" data-page="{$nextPno}">
                <div class="flex items-center">
                    {:lang("下一页")}
                    <div class="fill-standard mx1">
                        <svg class="icon-next">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-menuright"></use>
                        </svg>
                    </div>
                </div>
            </a>
            {/if}
            {if condition="$pno neq $lastPno"}

            <a href="#searchForm" data-page="{$lastPno}">
                <div class="flex items-center ms2">
                    {:lang("最末页")}
                    <div class="fill-standard ms1">
                        <svg class="icon-last">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-last"></use>
                        </svg>
                    </div>
                </div>
            </a>
            {/if}
        </div>
    </div>
</div>
{/if}
<div class="clear-fix clearfix clear"><h1></h1></div>
{if condition='$piconly eq true'}
{volist name="members" id="p"}
<div  style="display: inline;float: left">
     <div class="profile-bg bigimg" style='background-image: url("{$p.main_pic}")'   >

         <button class="adel" data-opt-delpics data-mid={$p.id} style="color: red" title="{$p.nickname},{$p.age},{$p.address}"> 删除</button>
     </div>
</div>
{volist name='$p["pics"]' id="pic"}
<div style="display: inline;float: left">
    <div class="profile-bg bigimg" style='background-image: url("{$pic.file_path}")'   >

        <button class="adel"  data-opt-delpics data-picid={$pic.id}  style="color: red" title="{$p.nickname},{$p.age},{$p.address}">删除</button>
    </div>

</div>

{/volist}
{/volist}

{else}
<table>
    <thead>
    <th style="width:150px">&nbsp;昵称</th>
    <th style="width:50px">&nbsp;年龄</th>
    <th style="width:50px">&nbsp;地址</th>
    <th style="width:150px">&nbsp;操作</th>
    <th style="width:50px">&nbsp;头像</th>
    <th style="width:300px;text-align: left">&nbsp;照片</th>
    </thead>
    {volist name="members" id="p"}
    <tr>
        <td style="text-align: left"><a href="/index.php/index/m/profile?id={$p.id}" target="_blank">{$p.nickname}</a>
        </td>
        <td>{$p.age}</td>
        <td>{$p.address}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-opt-delmember="{$p.id}" style="color: red">删除些会员</a>&nbsp;&nbsp;&nbsp;
        </td>
        <td style="text-align: left">
            <div class="profile-bg smallimg" style="background-image: url('{$p.main_pic}');"
                 data-opt-bigimg="{$p.main_pic}" data-mid="{$p.id}">
            </div><br>
            <a  data-opt-delpics data-mid={$p.id} data-opt-bigimg="{$p.main_pic}" style="color: red"> 删除</a>
        </td>
        <td style="text-align: left">{volist name='$p["pics"]' id="pic"}
            <dl style="display:inherit;">
                <dd>
                    <div class="profile-bg smallimg"
                         style="background-image: url('{$pic.file_path}');"
                         data-opt-bigimg="{$pic.file_path}" data-picid="{$pic.id}">
                    </div><br>
                    <a  data-opt-delpics data-picid={$pic.id} data-opt-bigimg="{$pic.file_path}" title="删除此照片"
                       style="color: red">删除</a>
                </dd>
            </dl>
            {/volist}
        </td>
    </tr>
    {/volist}
</table>
{/if}

<div class="clear-fix clearfix clear"><h1></h1></div>
{if condition='count($members)>0'}
<div class="max-width  mx-auto">
    <div class="flex justify-between items-center caps">
        <div class="flex">
            <div class="flex items-center me2 opacity-6">
                <div class="fill-standard me1">
                    <svg class="icon-first">
                        <use xlink:href="/assets/desktop/icons/icons.svg#icon-first"></use>
                    </svg>
                </div>
                <a href="#searchForm" data-page="1">{:lang("第一页")}</a>
            </div>

            <div class="flex items-center opacity-6">
                <div class="fill-standard me1">
                    <svg class="icon-prev">
                        <use xlink:href="/assets/desktop/icons/icons.svg#icon-menuleft"></use>
                    </svg>
                </div>
                <a href="#searchForm" data-page="{$prevPno}"> {:lang("上一页")}</a>
            </div>

        </div>

        <div class="flex">
            {if condition="$pno neq $nextPno"}
            <a href="#searchForm" data-page="{$nextPno}">
                <div class="flex items-center">
                    {:lang("下一页")}
                    <div class="fill-standard mx1">
                        <svg class="icon-next">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-menuright"></use>
                        </svg>
                    </div>
                </div>
            </a>
            {/if}
            {if condition="$pno neq $lastPno"}

            <a href="#searchForm" data-page="{$lastPno}">
                <div class="flex items-center ms2">
                    {:lang("最末页")}
                    <div class="fill-standard ms1">
                        <svg class="icon-last">
                            <use xlink:href="/assets/desktop/icons/icons.svg#icon-last"></use>
                        </svg>
                    </div>
                </div>
            </a>
            {/if}
        </div>
    </div>
</div>
{/if}
