<table class="col-8">
    <thead>
    <th class="flex col-1 ">发件人</th>
    <th class="flex col-1">收件人</th>
    <th class="flex col-1">发送时间</th>
    <th class="flex col-3">消息内容</th>
    <th class="flex col-1">发件人头像</th>
    <th class="flex col-1">收件人头像</th>
    </thead>
    {volist name="msgs" id="msg"}
    <tr>
        <td>
            <a href="/index.php/index/m/profile?id={$msg.fid}" target='_blank'>【{$msg.fnickname}】</a>
        </td>
        <td><a href="/index.php/index/m/profile?id={$msg.tid}"
               target='_blank'> 【{$msg.tnickname}】</a>
        <td> {$msg.send_date}</td>
        <td> {$msg.msg}</td>
        <td>
            <a href="/index.php/index/m/profile?id={$msg.fid}" target='_blank'>
                <div class="profile-bg" style="height: 50px;width:50px;background-image:url('{$msg.fmain_pic}')"
                     title="Primary Photo"></div>
            </a>
        </td>
        <td>
            <a href="/index.php/index/m/profile?id={$msg.tid}" target='_blank'>
                <div class="profile-bg" style="height: 50px;width:50px;background-image:url('{$msg.tmain_pic}')"
                     title="Primary Photo"></div>
            </a></td>
        </td>
    </tr>
    {/volist}
</table>
